@page
@model IndexModel
@{
    ViewData["Title"] = "TechTrain";
}

<div class="text-center">
    <h1 class="display-4">AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA, I'm done </h1>
    <b>@Model.Result</b>
    <img src="https://oracle-base.com/blog/wp-content/uploads/2019/09/docker-birmingham.png" />
</div>
