<!DOCTYPE html>
<html>
<head>
    <title>Специально для TechTrain 2020</title>
    <link rel="stylesheet" href="/asserts/css/theme.css">
</head>
<body>
    <div id="wrap" class="center">
        @RenderBody()
        <img src="img/cat.jpg" width="400">
    </div>
    
    <div class="sign">
        <p>from 1c developers with &lt;3</p>
        <p>powered by <a href="http://web.oscript.io/" target="_blanck">OneScript.Web</a></p>
    </div>

</body>
</html>